supported groups codepoints

I just became aware of [draft-kiefer-tls-ecdhe-sidh](https://tools.ietf.org/html/draft-kiefer-tls-ecdhe-sidh), and noticed that Section 3 specifies codepoints for use in the Supported Groups extension:

> The new codepoint for the "Supported Groups Registry" is:
> 
>    enum {
>        ...,
>        x25519sidh503(0x0105), x448sidh751(0x0106),
>    } NamedGroup;

Use of these codepoints for these key exchange mechanisms is inconsistent with Section 2 of [RFC 7919](https://tools.ietf.org/html/rfc7919#section-2), which says that

> Codepoints in the "Supported Groups Registry" with a high byte of 0x01 (that is, between 256 and 511, inclusive) are set aside for FFDHE groups.

Rather than simply choosing codepoints yourself, I would suggest either requesting the assignment of a codepoint from IANA (see https://www.iana.org/form/protocol-assignment, https://www.iana.org/assignments/tls-parameters/tls-parameters.xhtml#tls-parameters-8, and https://mailarchive.ietf.org/arch/browse/tls-reg-review/), or using codepoints from the range labelled "Reserved for Private Use" in the IANA registry.

While I can understand the desire to just pick a codepoint and start using it, that has caused problems in other contexts when one codepoint has been "appropriated" for more than one purpose: https://mailarchive.ietf.org/arch/msg/tls/-YwbPv3-RSfiLi_vi2KNuLdKuXw.